body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: black;
  padding-top: 100px;
}

main {
  flex-grow: 1;
}

.tituloCarrito {
  background: #ff8000;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
}

Table img {
  width: 120px;
}
table i:hover {
  font-size: 25px;
  color: #ff8000;
}

table input {
  width: 35px;
  border: 2px solid orange;
}

.totalCarrito2 {
  color: #ffffff;
  width: 260px;
  background: #282c36;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
}

.contenedorBotonContinuar {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.contenedorBotonContinuar input {
  background: #ff8000;
  height: 55px;
  border-radius: 10px;
  color: aliceblue;

  font-weight: 700;
}
.contenedorBotonContinuar input:hover {
  background: #a75503;
}

.contenedorBotonVolver {
  margin-top: 15px;
  margin-left: 7%;
  width: 200px;
  display: flex;
  justify-content: space-around;
  color: aliceblue;
}

.contenedorBotonVolver input {
  background: #ff8000;
  border-radius: 10px;
  color: aliceblue;
}

.contenedorBotonVolver input:hover {
  background: #a75503;
}

.botonCarrito{
  color: aliceblue;
  background-color: #ff8000;
}
