@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Abel", cursive;
    
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #000;
}
.bodyIndex {
  padding-top: 90px;
}
main {
  flex-grow: 1;
}

/* Navbar */

.logo {
  margin-right: auto;
}
/* tamaño del logo */
 .imagenNav img {
  height: 80px;
  width: auto;
}

.imagenNav img {
  width: 230px;
  margin-left: 20%;
}

.botonesNav {
  max-width: 550px;
}
.hamburguesa {
  order: 1;
}

/* Estilo de la barra de busqueda */
.buscadorNav input[type="text"] {
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f2f2f2;
  color: #333;
  width: 280px; /* Ajusta el ancho */
} 


/*Personaliza el botón de búsqueda si lo deseas */
button {
  background-color: #000;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

/*Estilos adicionales para hover (cuando el mouse está encima)*/
button:hover .btn {
  background-color: #ff8000;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #ff8000;
}


/* FOOTER*/

/* Estilos para el footer */
.imagenFot img {
    
    width: 100%;
    
  }

h5{
    font-family: 'Abel', cursive;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
  .buscadorNav input[type="text"] {
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f2f2f2;
    color: #333;
    width: 200px; /* Ajusta el ancho */
  } 
}
