body {

    margin: 0;
    padding: 0;
    background: #000;
    font-family: "Abel", sans-serif;
   padding-top: 90px;
   display: flex;
   flex-direction: column;
  }
  .imagen404{
    padding-top: 75px;
  }
  main{
    flex-grow: 1;
  }
  #img404 {
width: 100%;
height: 80%;
display: flex;  
}
  
  #p404 {
    text-align: center;
    color: white;
    font-size: 1.2em;
  }
  
  #botonInicio {
    text-align: center;
    font-size: 1.8em;
  }


  @media screen and (max-width: 700px) {
    .texto1 {
      font-size: 1.0em;
      
    }
  }